@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* shared styles */
.section-title {
    font-size: 2.8rem;
    font-weight: 700;
}

.display-flex {
    display: flex;
}

.text-primary {
    color: #FF900E;
}



/* dark 02 */
.text-gray {
    color: #424242;
}

/* dark03 */
.text-light-gray {
    color: #727272;
}

.bg-light {
    background-color: rgba(255, 144, 14, 0.1);
}

.btn-primary {
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    border: none;
}

main {
    max-width: 1440px;
    margin: 0 auto;
}

main>section {
    margin-top: 130px;

}

/* header styles */

/* navbar related styles */
.navbar {
    justify-content: space-between;
    align-items: center;
}

.brand {
    font-weight: 700;
    font-size: 3rem;
}

.nav-item {
    list-style: none;
    margin-right: 30px;
}

.nav-link {
    text-decoration: none;
    font-weight: 500;
}

.navbar,
.banner {
    max-width: 1440px;
    margin: 0 auto;
}

/* banner related styles */
.banner-content {
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner-title {
    font-weight: 700;
    font-size: 4rem;
}

.banner-image {
    width: 100%;
}

/* team and feature related styles */
.teams {
    align-items: center;
}

.team-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.our-features {
    margin-left: 130px;
    max-width: 530px;
}


.feature-description {
    font-size: 1rem;
    font-weight: 400;
}

#quick-list {
    font-size: 2.8rem;
    font-weight: 400;
}

#of-our {
    font-size: 2.8rem;
    font-weight: bold;
}

#feature-text {
    color: rgba(255, 144, 14, 1);
    font-weight: bold;
    font-size: 2.8rem;
}
/* feature related style */
#feature-section-title{
    border-left:5px solid rgba(255, 144, 14, 1);
    padding-left:21px;
}
.feature-card{
    margin-bottom:20px;
    max-width: 586px; 
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    padding: 30px 42px 30px 30px;
    border-radius:8px;
}
.feature-container{
    max-width:586px;
}
.feature-title-description{
    margin-bottom:30px;
}
.feature-title{
    font-size:1.25rem;
    font-weight: 600;
    margin-top:0;
    margin-bottom: 0;
}
.features{
    gap:150px;
}
#experience-badge{
    padding:45px 42px;
    font-size:1.5rem;
    font-weight:500 ;
    margin-left:-100px;
    margin-top:-100px;
}
#experience-year{
    font-size:4rem;
    font-weight: 700;
}
/* fact related styles */
.facts-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

}

.fact-card {

    border: 1px solid rgba(255, 144, 14, 1);
    text-align: center;
    border-radius: 8px;
    width: 240px;
    height: 240px;
    justify-content: center;
    align-items: center;
}

.fact-number {
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}

.fact-name {
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;
}
.fact-description{
    max-width: 540px;
    margin-bottom:100px;
}
/* sponsor related style */
.sponsor-info{
    max-width: 540px;
    margin:50px auto;
    text-align: center;
    
}
.sponsor-companies{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    justify-items: center;
    margin-bottom:130px;

}
.sponsor-companies img{
    filter: grayscale(100%);
}
/* footer styles */
footer{
    max-width: 1440px;
    margin:0 auto;
    margin-bottom:100px;

}
.footer-text{
    font-size:1.25rem;
    font-weight:400;
    background-color: rgba(255, 244, 231, 1);
    text-align: center;
    padding:40px 410px;
    border-radius:8px;
}
/* responsive media query */
@media screen and (max-width: 576px) {

    .navbar{
        align-items: start;
       
    }
    .brand{
        padding-left:30px;
    }
    .nav-links{
        gap:20px;
    }
    .features,
    .navbar,
    .nav-links,
    .teams {
        flex-direction: column;
    }
    .nav-link{
        font-size:2rem;
         

    }


    .team-img-container,.sponsor-companies {
        grid-template-columns: repeat(1, 1fr);
    }
    .sponsor-companies{
        gap:50px;
    }

    .facts-container{
        grid-template-columns: 1fr;
        justify-items: center;
        gap:20px;
    }
    .section-title,.fact-description{
        padding-left:20px;
        padding-right: 20px;
    }
    .our-features {
        margin-left: 20px;
    }

    .button-primary {
        text-align: center;
    }
    .fact-description{
        max-width:100%;
    }
    .architect-photo img{
        width:100%;
    }
    #experience-badge{
        
        margin:-100px auto;
    }
    footer{
        max-width: 100%;
    }
    .footer-text{
        padding:50px;
    }
   
}

@media screen and (min-width:576px) and (max-width:992px) {
    .teams,.features{
        flex-direction: column;
    }
    .facts-container{
        grid-template-columns: repeat(2,1fr);
        justify-items: center;
        gap:20px;
    }
    .section-title{
        text-align: center;
    }
.fact-description{
    max-width: 100%;
    text-align: center;
}
    .our-features {
        margin: 50px auto;
    }
    .sponsor-companies{
        grid-template-columns: repeat(3,1fr);
        gap:50px;

    }
    .brand{
        padding-left:30px;
    }
     .architect-photo img{
        width:100%;
    }
    #experience-badge{
        
        margin:-100px auto;
    }
    .feature-container{
        margin:0 auto;
    }
    .footer-text{
        padding:50px;
    }
   
}